<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-4 col-md-6 text-center mt-4">

    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated zoomIn" data-wow-delay=".1s">
      </div>
    </div>

  </div>
  <div class="col-lg-4 col-md-6 text-center mt-4">
    <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">
      Hello World! I'm <b>{{ site.author.name }}</b>.<br>
      I have been passionately developing software since 2015.<br>
      I've experienced the following technologies and I'm still trying to learn more by dealing with them.<br>

      .Net / .Net Core, ASP.NET/CORE MVC , WPF, WCF ,JavaScript, TypeScript, Angular, MS SQL, Oracle, TSQL, PLSQL, ElasticSearch, Redis, Azure DevOps, Git, TFS.

    </p>

  </div>
</div>
